/* IMPOSTAZIONI GENERALI */
html {font-size: 62.5%;}
body { 
    font-family: Poppins, 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 15px;
    background-image: url('../img/sfondo.png');
    background-position: center center;
}
* {box-sizing: border-box;}
hr {display: none;} /* rimuove l'elemento */

/* HEADER */
header {
    background: rgb(0,160,198);
    background: linear-gradient(180deg, rgba(0,160,198,1) 0%, rgba(3,109,134,1) 68%);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-shadow: 0 3px 3px #444;
    margin-bottom: 1.5em;
    padding: 2em 1.5em;
    position: sticky;
    top: 0;
    z-index: 1;
}
header div img {
    margin-bottom: 20px;
}
header nav ul {
    margin: 0;
}
header nav li {
    list-style: none;
}
header nav li a {
    color: white;
    text-decoration: none;
}
header nav li a:hover {
    color: red;
}
header nav li a::before {
    content: "\22c6\0020";
}

/* MAIN */
main {
    background-color: #fff;
    box-shadow: 0 3px 3px #444;
    padding: 2em 1em;
    margin-bottom:1.5em ;
}
section { 
    background-color: #e3e3e3;
    padding: 1em;
    margin-bottom: 2em;
    position: relative;
}
section h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
    position: absolute;
    top: -0.7em;
    left: 1.2em;
    height: 40px;
    width: 115px;
    background-color: #b9b9b9;
    box-shadow: 1.5px 1.5px #585858;
    padding: 0.3em 0.5em 0.5em 0.5em;
}

section p {
    margin-top: 2.5em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin-bottom: 0.7em;
}
p, address, ul, ol, dl, blockquote {
    margin-bottom: 1.2em;
}
h1 + p {
    color: #a0a0a0;
}
#line{
    position: relative;
    top: -1.9em;
    left: -0.3em;
    width: 240px;
    opacity: 0.5;
}
#logo {
    float: left;
    height: 75px;
    width: 75px;
    border: 4px solid #00A0C6;
    outline: 4px solid #a02571;
    margin-left: 0.3em;
    margin-right: 0.5em;
}
ul, ol {
    margin-left: 2em;
}
a {
    color: #00A0C6;
    font-weight: bold;
}
strong {
    color: #a02571;
    font-weight: bold;
}
code {
    background-color: #e3e3e3;
    border: 1px solid #969494;
    border-radius: 5px;
}
iframe {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 20px;
}

/* TABELLE */
table {
    margin-bottom: 2em;
}
caption {
    font-weight: bold;
    font-style: italic;
}
thead tr {
    background-color: #3f6bca;
    color: #ffffff;
}
th, td {
    padding: 12px 15px;
    vertical-align: bottom;
    text-align: center;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
    padding: 5px;
    border: 0;
    border-bottom: 1px dashed #333;
}
button {
    padding: 4px 7px;
    background-color: #3f6bca;
    border: 0;
    color: white;
    font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}
aside div {
    background-color: #e3e3e3;
    border: 1px solid #c3c3c3;
    margin-bottom: 1em;
    padding: 1em;
}
aside div p:last-child {
    margin-bottom: 0;
    font-size: 0.8em;
    text-align: right;
}

/* FOOTER */
footer {
    background: rgb(53,53,53);
    background: linear-gradient(0deg, rgba(53,53,53,1) 0%, rgba(5,85,103,1) 68%);
    box-shadow: 0 3px 3px #444;
    color: #f0f0f0;
    padding: 1em;
    text-align: center;
    font-size: 1.2rem;
}
footer a {
    color: fuchsia;
}

/* BUTTONS */
#social {
    position: fixed;
    bottom: 90px;
    right: 1px;
}
#calendar {
    position: fixed;
    bottom: 50px;
    right: 1px;
}
#top {
    position: fixed;
    bottom: 10px;
    right: 1px;
}
#top a {
    color: #c76d9a;
    font-size: 2.5em;
    display: block;
}
#social a, #calendar a {
    color: #275eb0;
    font-size: 2.5em;
    display: block;
}
#social, #calendar, #top {
    background-color: transparent;
}

/* MEDIA QUERIES */
@media screen and (min-width:480px) {
    body {
        font-size: 1.4em;
        line-height: 1.5em;
    }

    #line{
        position: relative;
        top: -1.5em;
        left: -0.3em;
        width: 400px;
        opacity: 0.5;
    }

    table {
        margin: 2.5em 0 2.5em 3.2em;
    }

    aside {
        padding-right: 10px;
    }

    section h2 {
        padding-top: 0.5em;
    }

    #social {
        bottom: 105px;
    }

    #calendar {
        bottom: 60px;
    }

    #top {
        bottom: 15px;
    }
}

@media screen and (min-width:768px) {
    body {
        font-size: 1.8em;
        text-align: justify;
    }

    p {
        margin-bottom: 25px;
    }

    article h1 {
        font-size: 1.8em;
    }

    #line{
        position: relative;
        top: -2.7em;
        width: 570px;
        padding-top: 1.5em;
        opacity: 0.5;
    }

    table {
        width: 26em;
        margin: 5em 0 5em 6.5em;
    }

    iframe {
        height: 16em;
        margin-bottom: 2.5em;
    }

    section h2 {
        font-size: 1.2em;
        height: 45px;
        width: 120px;
    }

    input, button {
        font-size: 0.9em;
    }

    #social {
        top: 15px;
        z-index: 2;
    }

    #calendar {
        top: 75px;
        z-index: 2;
    }

    #top {
        bottom: 15px;
    }
}

@media screen and (min-width:1200px) {
    body {
        font-size: 2em;
        margin-left: 4em;
        margin-right: 4em;
    }

    p {
        margin-bottom: 33px;
    }

    header {
        text-align: left;
        padding: 1em;
    }

    header nav, header nav li {
        display: inline-block;
    }
    
    header div {
        display: inline-block;
        width: 75%;
    }

    header div img {
        vertical-align: middle;
        margin: 0 0.8em 0 -1em;
    }

    header div p {
        display: inline-block;
        margin-bottom: 0;
    }

    article h1 {
        font-size: 2.2em;
    }

    #line{
        position: relative;
        top: -3em;
        left: 14em;
        width: 475px;
        padding-top: 1.5em;
        opacity: 0.5;
    }

    table {
        width: 32em;
        margin: 4.8em 0 4.8em 12.2em;
    }

    iframe, section {
        display: inline-block;
        height: 13em;
        width: 50%;
        margin: 1.3em -0.2em 1.8em;
        vertical-align: middle;
    }

    section {
        border-radius: 20px;
        margin-left: 0.3em;
    }

    section h2 {
        font-size: 1.3em;
        height: 55px;
        width: 128px;
    }

    aside div {
        display: inline-block;
        width: 33.3%;
        margin-inline: -0.1em;
    }
    
    #social {
        right: 5px;
    }
    #calendar {
        top: 80px;
        right: 5px;
    }
    #top {
        right: 5px;
    }
}

@media print {
    header, footer, section, aside, iframe {
        display: none;
    }

    main {
        margin: none;
        box-shadow: none;
    }
}