/* IMPOSTAZIONI GENERALI */
body {
    font-style: Poppins, sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
    padding: 13px;
    background-image: url(../img/sfondo.png);
    background-position: center;
}

/* HEADER */
header {
    font-size: 0.7em;
    background: rgb(1, 137, 170);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-shadow: 0 3px 3px rgb(66, 66, 66);
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
}

header ul {
    list-style: none;
}

img {
    max-width: 60%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

header nav li a:hover {
    color: rgb(221, 0, 255);
}

/* MAIN */
main, aside {
    background-color: white;
    box-shadow: 0 3px 3px rgb(66, 66, 66);
    padding: 1.2em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

h2, h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}

p, address, ul, ol, dl, blockquote {
    margin-bottom: 1.2em;
}

#gray {
    color: rgb(190, 185, 185);
}

code {
    background-color: #d5d1d1;
    border: 1px solid #838383;
    border-radius: 5px;
}

ul {
    margin-left: 1em;
}

/* TABELLE */


/* FORM */


/* ELEMENTI NELL' ASIDE */


/* FOOTER */
